<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Classements du Rap Français | Dealer de Rimes </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Découvrez les classement des meilleurs rappeurs et albums du Rap Français en fonction de la diversité des mots utilisés"/>
		<meta name="keywords" content="classement du rap français, classement des rappeurs, rap fr, mots, artistes, album, dictionnaire de rimes"/>
		<meta name="Content-Language" content="fr" />
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89932021-1', 'auto');
		  ga('send', 'pageview');

		</script>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9593080548754786",
			enable_page_level_ads: true
		  });
		</script>
		
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/#dictionnaire">Dictionnaire de rimes</a></li>
							<li><a target="_blank" href="https://soundcloud.com/lu-production">Instrus/Beats</a></li>
							<li><a href="/classement_rap_français">Classements</a></li>
							<li><a href="/a-propos-dictionnaire-de-rimes">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign up</a></li>
						</ul>
					</nav>
				</header>
				
				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
						<h2>Classements du Rap Français</h2>
							<p><br><strong>Ici, nous vous proposons un classement des albums du rap français en fonction <br>de la diversité du vocabulaire utilisé</strong><br><br> Pour cela, nous regardons le nombre de mots différents par chanson en moyenne<br><br>
								<br><strong>Cliquez sur le nom d'un album pour le découvrir et écouter ses musiques</strong><br>
								<br>
								Si vous remarquez un album manquant, <a href="#ajouterunalbum"> rajoutez le ici </a> et contribuez au classement !
										</p>
						</header>
						<span class="image"><img src="images/classement_roi.jpg" alt="logo classement rap" style="max-width: 100%; height: auto;"/></span>
					</div>
					<a href="#rappeurs" class="goto-next scrolly">Next</a>
				</section>
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
								<section id="album">
								<h3>Classement des albums</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Position</th>
												<th>Album</th>
												<th>Nombre de mots différents par chanson(en moyenne)</th>
											</tr>
										</thead>
										<tbody>
										<%@ranking.each do |key, value|%>
											<% if @affiliate.has_key? key %>
											<tr>
												<td><%=@pos%></td>
												<td><a target="_blank" href="<%=@affiliate[key]%>"> <%=key%> </a></td>
												<td> <%=value%> </td>
											</tr>
											<% else%>
											<tr>
												<td><%=@pos%></td>
												<td><a target="_blank" href="#album"> <%=key%> </a></td>
												<td> <%=value%> </td>
											</tr>
											<%end%>
											<%@pos += 1 %>
										<% end %>
										
										</tbody>
									</table>
								</div>
								</section>
					</div>	

								<section id="ajouterunalbum" class="wrapper style1">
								<div class="container">
								<header class="major">
								
									<h3>Ajouter un album de rap Français au classement !</h3>
									<h4>Pour ce faire, renseingner un lien 'Rap Genius' de l'album. Par exemple:</h4>
									<p>https://genius.com/albums/Nekfeu/Cyborg</p>
									
								<form method="post" action="/classement_rap_français#album">
									<div class="row uniform 50%">
										<div class="12u$">
											<input type="text" name="lien" id="name" value="" pattern="https://genius.com/albums.*" placeholder="Entrez le lien d'un album" />
										</div>
										
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Ajouter" class="special" /></li>
											</ul>
									</div>
								</form>
										
								</header>
								</div>	
							    </section>
									
						
					
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/Dealerderimes" class="icon alt fa-twitter" onClick="ga('send', 'event', 'Social', 'click', 'twitter');"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/dealerderime" class="icon alt fa-facebook" onClick="ga'send', 'event', 'Social', 'click', 'facebook');"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/dealerderimes/" class="icon alt fa-instagram" onClick="ga'send', 'event', 'Social', 'click', 'instagram');"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact" itemprop="url">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>