<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Dealer de Rimes | rimes avec "<%=@mot%>"</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Liste des mots qui riment avec <%=@mot%> et des allitérations en <%=@asso1.first%> "/>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../assets/css/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
	</head>
	<body class="landing">
	
		<div id="page-wrapper">
				
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Dealer de Rimes | <em>Source d'inspiration</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Rimez</a></li>
							<li><a href="/a-propos">À propos</a></li>
							<li><a href="/inscription" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
			<section id="one" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h3>Dictionnaire de rimes</h3>
								<form method="post" action="/#dictionnaire">
									<div class="row uniform 50%">
										<div class="12u$">
											<input type="text" name="mot" id="name" value="" placeholder="Entrez un mot" />
										</div>
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Rime" class="special" /></li>
											</ul>
									</div>
								</form>
						</header>

						<!-- Content -->
								<h4><%=@mot%></h4>
								<ul class="icons">
								<h5><%=@asso1.first%></h5>
								
								<%@asso1=@asso1.drop(1) unless @asso1.empty?%>
								<%@asso1.each do |x|%>
								<li><a href="/dictionnaire/<%=x.force_encoding("UTF-8")%>" style="color: rgba(255, 255, 255, 0.75"> <%=x.force_encoding("UTF-8") + "  "%></a></li>
								<% end %>
								<h5></h5>
								&nbsp
								<h5><%=@asso2.first%></h5>
								<%@asso2=@asso2.drop(1) unless @asso2.empty?%>
								<%@asso2.each do |x|%>
								<li><a href="/dictionnaire/<%=x.force_encoding("UTF-8")%>" style="color: rgba(255, 255, 255, 0.75"> <%=x.force_encoding("UTF-8") + "  "%></a></li>
								<% end %>
								<h5></h5>
								&nbsp
								<h5><%=@asso3.first%></h5>
								<%@asso3=@asso3.drop(1) unless @asso3.empty?%>
								<%@asso3.each do |x|%>
								<li><a href="/dictionnaire/<%=x.force_encoding("UTF-8")%>" style="color: rgba(255, 255, 255, 0.75"> <%=x.force_encoding("UTF-8") + "  "%></a></li>
								<% end %>
								<h5></h5>
								&nbsp
								<h5><%=@asso4.first%></h5>
								<%@asso4=@asso4.drop(1) unless @asso4.empty?%>
								<%@asso4.each do |x|%>
								<li><a href="/dictionnaire/<%=x.force_encoding("UTF-8")%>" style="color: rgba(255, 255, 255, 0.75"> <%=x.force_encoding("UTF-8") + "  "%></a></li>
								<% end %>
								<h5></h5>
								&nbsp
								<h5><%=@asso5.first%></h5>
								<%@asso5=@asso5.drop(1) unless @asso5.empty?%>
								<%@asso5.each do |x|%>
								<li><a href="/dictionnaire/<%=x.force_encoding("UTF-8")%>" style="color: rgba(255, 255, 255, 0.75"> <%=x.force_encoding("UTF-8") + "  "%></a></li>
								<% end %>
								</ul>
								<center><a href="/a-propos"> Comment ça marche ? </a></center>
							
					</div>
				</div>
					
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="/" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>	
						<li><a href="/contact">Nous contacter / Contact us</a></li>	
					</ul>
					<ul class="copyright">
						<li>&copy; 2017 Dealer de Rimes. Tous droits réservés.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </div>
	</body>
</html>